{% layout 'layout.liquid' %}
{% block content %}
    <h1>Welcome to Music Taste</h1>
    <div class="top-artists">
        <h2 class="artist">Top Artists:</h2>
        {% for item in topArtists.items %}
            <p>{{ item.name }}</p>
        {% endfor %}
    </div>
    <div class="top-songs">
        <h2>Top Songs:</h2>
        {% for item in topSongs.items %}
            <p>{{ item.name }}</p>
        {% endfor %}
    </div> 
{% endblock %}
