{% layout 'layout.liquid' %}
{% block content %}
    <a href="https://accounts.spotify.com/authorize?client_id={{ clientId }}&response_type=code&redirect_uri={{ redirectUri }}&scope=user-top-read">Authorize Spotify</a>
{% endblock %}