{% layout 'layout.liquid' %}
{% block content %}
    <div class="auth-container">
        <div class="auth-card">
            <h2 class="card-title">Music <span class="">Taste</span></h2>
            <p class="auth-subheading">Please login with  <span>Spotify!</span></p>
            <a class="auth-btn" href="https://accounts.spotify.com/authorize?client_id={{ clientId }}&response_type=code&redirect_uri={{ redirectUri }}&scope=user-top-read">Authorize Spotify</a>
        </div>
    </div>
{% endblock %}