body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to left bottom, #105766, #00626b, #006d6b, #007864, #008159, #008250, #028246, #0e823a, #0c7a36, #0b7232, #096b2f, #08632b);
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    height: 100vh;
}
.welcome span {
    color: #FF5733; /* Set a different color for the "Taste" part (you can use any valid color value) */
}

.welcome-container {
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-card {
    display: flex;
    flex-direction: column; /* Stack title and button vertically */
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 300px;
    height: 400px;
}

.card-title {
    color: #323232;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: .5px;
}

.card-title span {
    color: #FF5733; /* Set a different color for the "Taste" part (you can use any valid color value) */
}

.auth-subheading {
    color: #323232;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 60px; /* Add spacing between title and button */
}

.auth-subheading span{
    color: #1db954;
}

.auth-btn {
    color: white;
    text-decoration: none;
    background-color: #1db954;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-btn:hover {
    background-color: #b3b3b3;
    cursor: pointer;
}
/* authorized.liquid css */

.top-artists, .top-songs{
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: relative;
    /* border: 1px solid green; */
}

.songs-container {
    text-align: right;
}

.artist-title, .songs-title {
    color: #4b917d;
}

.artist-response, .songs-response {
    color: #f3f3f3;
}

.responseImage {
    width: 150px;
}

.artist-image,
.songs-image {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 10px;
}

#content {
    height: 625px;
    background-color: #535353;
    margin: 25px auto;
    padding: 15px;
}

.parentContainer {
    width: 100%;
}


#buttonContainer {
    max-width: 350px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#logoutButton {
    background-color: #E74545;
    border-radius: 5px;
    border: 1px;
    color: white;
    padding: 15px;
}

#downloadButton {
    background-color: #1db954;
    border-radius: 5px;
    border: 1px;
    color: white;
    padding: 15px;
}

#nextButton {
    margin-left: 10px;
    background-color: #3498db; 
    border-radius: 5px;
    border: 1px;
    color: white;
    padding: 15px;
}

#downloadButton:hover, #nextButton:hover, #logoutButton:hover {
    background-color: #212121;
    cursor: pointer;
}

/* mobile views */
@media screen and (min-width: 390px) {
    .welcome {
        font-size: 25px;
    }
    #content {
        max-width: 390px;
    }
}